.insta-footer {
	color: #c2c2c2;
	text-align: center;
	padding: 2rem;
	margin: 0  0 2rem 0;
	font-size: .75rem;
	height: 10vh;
}
@media (min-width: 1000px) {

.insta-footer {
	text-align: left;
	margin: 2rem;
}}