html {
	font-size: 16px;
}

form {
	margin-bottom: 2rem; }

	.sections
	{
		font-size: 2rem;
	}
	.nyt-logo {
		height: auto;
		margin-right: 2rem;
	}			

	.insta-header {
		padding: 2rem;
		display: flex;
		height: 90vh;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		p {
			font-size: .9rem;
			margin-top: 1rem;
			margin-bottom: 1rem;
			}

		@include tablet {
			text-align: left;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			}

		@include desktop {
			justify-content: flex-start; 
			}
		}
	

	
